@import "form.css";

/* default dark mode */
div, h1, h2, h3, h4, h5, h6, p, a, a:hover, .nav-link, .nav-link:hover {
    color: white;
    caret-color: transparent;
}

input, select {
    color: white;
    caret-color: white;
    border-color: white;
}

a, .nav-link {
    text-decoration: none;
}

.profile-pic {
    height: 36px;
    width: 36px;
}
.profile-pic:hover {
    cursor: pointer;
}

.svg-icon {
    height: 16px;
    width: 16px;
}

.navbar {
    height: 64px;
}
 
.main {
    height: calc(100vh - 64px); 
}

.bg-dark-2 {
    background-color: rgb(18,18,18);
}

.bg-primary-2 {
    background-color: rgb(59,113,159) !important;
}

.flex-center {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.flex-between-center {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.edit-icon {
    cursor: pointer;
}

.weight-input {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}

.metric-input {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
}