@import "form.css";

/* default dark mode */
div, h1, h2, h3, h4, h5, h6, p, a, a:hover, .nav-link, .nav-link:hover {
    color: white;
}

input, select {
    color-scheme: dark;
    color: white;
    border-color: white;
}

a, .nav-link {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(18,18,18);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(59,113,159);
}



.profile-pic {
    height: 36px;
    width: 36px;
}
.profile-pic:hover {
    cursor: pointer;
}

.svg-icon {
    height: 16px;
    width: 16px;
}

.navbar {
    height: 64px;
}
 
.main {
    height: calc(100vh - 64px); 
}

.modal-content {
    background-color: #212529;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.bg-dark-2 {
    background-color: rgb(18,18,18);
}

.bg-primary-2 {
    background-color: rgb(59,113,159) !important;
}

.bg-danger-2 {
   background-color: rgb(166,65,65);
}

.flex-center {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.flex-between-center {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.edit-icon {
    cursor: pointer;
}

.weight-input {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}

.metric-input {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
}

.card {
    height: 210px;
}